body
{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
    margin 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: rgb(33, 124, 63) ;
    color: rgb(220, 236, 224);
}

#container h1
{
    font-size: 20 px;
    text-align: center;
}
#container p
{
    text-align: center;
}